/* Layout.module.css */

.defaultLayout {
    display: flex;
    margin-top: 70px;
    width: 100vw;
    .left {
        flex: 2; 
    }

    .right {
        flex: 10;
        height: calc(100vh - 70px);
    }

}
